.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.title{
    position: relative;
}
.title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.section{
    display: flex;
    gap: 150px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.left h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left p{
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 550px;
    color: #d8d8d8;
    font-size: 19px;
    line-height: 30px;
}
/* .contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
}
.detail{
    display: flex;
    align-items: center;
    gap: 20px;
} */
.right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 17px;
}
.right label{
    color: white;
    font-size: 21px;
    font-weight: 500;
}
.right input{
    border: none;
    width: 600px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
    margin-top: -10px;
}
.right textarea{
    width: 600px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}
.submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100.12%);
    font-size: 20px;
    padding: 20px 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


/* contact */
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #b415ff;
    transform: translateY(-5px);
} 
.btn.btn2{
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100.12%);
    font-size: 20px;
    padding: 20px 50px;
    margin-bottom: 50px;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    display: block;
}
.btn.btn2:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: 0;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form textarea{
    resize: none;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
