.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin: 80px 170px;
}
.title{
    position: relative;
}
.title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.title img{
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: -1;
}
.sections{
   display: flex;
   gap: 80px; 
}
.right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 300;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skills{
    display: flex;
    align-items: left;
    gap: 70px;
    transition: 0.3s;
}
.skills p:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

/* .skills p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.skills hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #da7c25 -5.09%, #b923e1 106.06%);
} */
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.achievements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.achievements h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achievements p{
    font-size: 21px;
    font-weight: 500;
}
.achievements:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

/* new */
.info{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.info .skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skill{
    text-align: left;
}
.educations{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    transition: 0.3s;
}
.educations p:hover{
    transform: scale(1.05);
    transition: 0.3s;
}