.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin: 80px 170px;
}
.title{
    position: relative;
}
.title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.title img{
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: -1;
}
.sections{
   display: flex;
   gap: 80px; 
}
.left img{
    width: 250px;
    border-radius: 12px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 300;
}

.info{
    display: flex;
    justify-content: space-around;
    gap: 120px;
    margin-top: 20px;
}
.info .skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skills p{
    font-size: 18px;
    cursor: default;
}
.skills p:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.educations{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    transition: 0.3s;
}
.education p{
    font-size: 18px;
    cursor: default;
}
.education p span{
    font-size: 15px;
    color: rgb(122, 118, 118);
}


.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.achievements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.achievements h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achievements p{
    font-size: 21px;
    font-weight: 500;
}
.achievements:hover{
    transform: scale(1.05);
    transition: 0.3s;
}



/* media query */
@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: center;
    }
    .title h1{
        font-size: 50px;
        padding: 0;
    }
    .title img{
        width: 130px;
        right: -20px;
    }
    .sections{
        flex-direction: column;
    }
    .sections .left{
        display: none;
    }
    .right{
        margin-top: -30px;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .skills{
        gap: 20px;
        align-items: flex-start;
    }
    .skill p{
        font-size: 20px;
    }
    .skill hr{
        height: 6px;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .achievements{
        gap: 10px;
    }
    .achievements h1{
        font-size: 34px;
        font-weight: 700;
    }
    .achievements p{
        text-align: center;
        font-size: 16px;
    }
}